:root {
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.h2 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-dark-l);
}

.h3 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.h4 {
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--color-dark-l);
}

.h5 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.paragraph-l {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.paragraph-s {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 45px;
    font-family: 'Georgia', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 100px;
    color: var(--color-dark-3xl);
}

.button-primary {
    background-color: var(--color-primary);
}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}

.button-secondary {
    padding: 13px 45px;
    background-color: transparent;
    border: 2px solid var(--color-primary-light);
}

.button-secondary:hover {
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
}

.button-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 52px;
    min-height: 52px;
    width: 52px;
    height: 52px;
    border-radius: 100px;
}

.button-arrow {
    background-color: transparent;
    border: 2px solid var(--color-primary);
}

.button-arrow:hover {
    cursor: pointer;
    background-color: var(--color-primary);
}

.button-arrow_back {
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow_next {
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.text-align-center {
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    position: absolute;
    width: 100%;
}

.header__block {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

}

.header__logo {
    z-index: 100;
}

.navigation__mobile .header__logo {
    position: absolute;
    right: 124px;
}

.logo-subtitle {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    padding-left: 4px;
    color: var(--color-light-xl);
}

.navigation ul {
    display: flex;
}

.navigation__item {
    margin-left: 36px;
}

.navigation__item a {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-s);
}

.navigation__item:hover a {
    cursor: pointer;
    color: var(--color-light-s);
}

.navigation__item.active a {
    display: inline-block;
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
}

.navigation__item.active:hover a {
    cursor: default;
}

.section-not-only {
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.section-not-only__block {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}

.section-not-only__text-part {
    max-width: 460px;
    padding-top: 163px;
}

.section-not-only__title {
    max-width: 310px;
    padding-bottom: 42px;
}

.section-not-only__title .h2 {
    color: var(--color-light-xl);
}

.section-not-only__paragraph {
    padding-bottom: 42px;
}

.section-not-only__paragraph .paragraph-l {
    color: var(--color-dark-s);
}

.section-not-only__image-part {
    line-height: 0;
}

.section-about__block {
    display: flex;
    /* justify-content: space-between; */
    padding: 80px 0 88px;
}

.section-about__image-part {
    padding-left: 175px;
}

.section-about__text-part {
    max-width: 430px;
    padding-left: 120px;
}

.section-about__text-part h3 {
    max-width: 380px;
    padding-top: 14px;
    padding-bottom: 25px;
}

.section-about__text-part .paragraph-l {
    padding-bottom: 25px;
}

.section-our-friends {
    background-color: var(--color-light-l);
}

.section-our-friends__block {
    padding: 80px 0 100px;
}

.section-our-friends__title {
    max-width: 400px;
    padding-bottom: 60px;
}

.section-our-friends__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.section-our-friends__slides {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slide-element {
    border-radius: 9px;
    background-color: var(--color-light-s);
}

.slide-element:hover {
    cursor: pointer;
    background-color: var(--color-light-xl);
}

.slide-element__image {
    padding-bottom: 25px;
}

.slide-element__title {
    padding-bottom: 30px;
}

.slide-element .button {
    display: flex;
    margin-bottom: 30px;
}

.slide-element:hover button {
    background-color: var(--color-primary-light);
}

.section-help__block {
    padding-top: 42px;
    padding-bottom: 44px;
}

.section-help__title {
    padding-bottom: 60px;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-list__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: none;
    padding: 0 60px 55px;
}

.help-list__image {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 30px;
}

.help-list__text {
    text-align: center;
}

.section-donation {
    padding-top: 80px;
    padding-bottom: 101px;
    background-color: var(--color-light-l);
}

.section-donation__block {
    display: flex;
}

.section-donation__image-part {
    padding-left: 140px;
    padding-top: 12px;
}

.section-donation__text-part {
    padding-left: 32px;

}

.section-donation__title {
    padding-top: 1px;
    padding-bottom: 20px;
}

.section-donation__subtitle {
    padding-bottom: 20px;
}

.credit-card {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: var(--color-primary);
}

.credit-card:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}

.credit-card__image {
    padding-right: 15px;
}

.section-donation__card-link {
    margin-bottom: 19px;
}

.section-donation__text-part .paragraph-s {
    max-width: 380px;
}

.footer {
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    line-height: 0;
}

.footer__widget {
    max-width: 300px;
}

.footer__widget-second {
    margin-left: -20px;
}

.footer__h3 {
    padding-top: 16px;
    padding-bottom: 28px;
    color: var(--color-light-xl);
}

.footer__list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.footer__item {
    padding-bottom: 37px;
}

.footer__link {
    position: relative;
    color: var(--color-primary);
}

.footer__link:hover {
    cursor: pointer;
    color: var(--color-primary-light);
}

.link-mail {
    display: block;
    padding-top: 11px;
    padding-left: 20px;

}

.link-mail::before {
    content: url('../../assets/icons/icon-email.svg');
    position: absolute;
    left: -40px;
    top: 6px;
}

.link-phone {
    display: block;
    padding-left: 20px;
    margin-top: 12px;
}

.link-phone::before {
    content: url('../../assets/icons/icon-phone.svg');
    position: absolute;
    left: -40px;
    top: -5px;
}

.link-location::before {
    content: url('../../assets/icons/icon-marker.svg');
    position: absolute;
    left: -42px;
    top: 6px;
}

.footer__item:nth-child(2) .link-location:before {
    top: -5px;
}

@media (max-width: 1279.98px) {
    .wrapper {
        padding: 0 30px;
    }

    .header__block {
        padding-top: 30px;
    }

    .section-not-only__block {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .section-not-only__text-part {
        padding-top: 151px;
    }

    .section-not-only__button {
        text-align: center;
    }

    .section-not-only__image-part {
        align-self: flex-end;
    }

    .section-not-only__image-part img {
        padding-top: 100px;
        max-width: 569px;
    }

    .section-about__block {
        flex-direction: column;
        padding: 65px 0 88px;
        align-items: center;
    }

    .section-about__image-part {
        order: 2;
        padding-left: 0;
        padding-top: 54px;
    }

    .section-about__text-part {
        order: 1;
        padding-left: 0;
    }

    .section-our-friends__block {
        padding-top: 87px;
    }

    .section-our-friends__slides {
        gap: 15px;
    }

    .section-our-friends__slider .section-our-friends__slide-element.slide-element:nth-last-child(1) {
        display: none;
    }

    .help-list {
        gap: 55px 60px;
    }

    .help-list__element {
        padding: 0;
        min-width: 170px;
    }

    .section-donation {
        padding-top: 135px;
        padding-bottom: 97px;
    }

    .section-donation__title {
        padding-top: 0;
    }

    .section-donation__block {
        flex-direction: column;
        align-items: center;
    }

    .section-donation__image-part {
        padding-top: 60px;
        padding-left: 0;
        order: 2;
    }

    .section-donation__text-part {
        padding-left: 0;
        order: 1;
    }

    .footer__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 60px;
        padding-top: 13px;
    }
}

@media (max-width: 767.98px) {
    .wrapper {
        padding: 0 10px;
    }

    img {
        max-width: 100% !important;
    }

    .h2,
    .h3 {
        font-family: 'Georgia', sans-serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .paragraph-l {
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: justify;
    }

    .section-not-only__title {
        margin: 0 auto;
    }
    .section-not-only__title .h2 {
        max-width: 200px;
        margin: 0 auto;
    }

    .section-not-only__paragraph {
        max-width: 300px;
    }

    .section-not-only__block .paragraph-l {
        text-align: center;
    }

    .section-not-only__image-part {
        margin-top: 5px;
    }

    .section-not-only__image-part img {
        max-width: 100%;
        max-height: 271px;
        padding-top: 9;
    }

    .section-about__block {
        padding: 28px 0 0;
    }

    .section-about__text-part .h3 {
        max-width: 220px;
        margin: 0 auto;
    }

    .section-about__text-part .paragraph-l {
        max-width: 270px;
        margin: 0 auto;
        padding-bottom: 22px;
    }

    .section-about__image-part {
        padding-top: 20px;
    }

    .section-about__image-part img {
        max-height: 353px;
    }

    .section-our-friends__block {
        padding: 80px 0 42px;
    }

    .section-our-friends__title {
        padding-bottom: 42px;
    }

    .section-our-friends__slider {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 80px;
        padding-bottom: 42px;
    }

    .button-arrow_back {
        order: 2;
    }

    .button-arrow_next {
        order: 3;
    }


    .section-help__title {
        padding-bottom: 42px;
    }

    .help-list {
        gap: 30px;
    }

    .help-list__element {
        min-width: 130px;
    }

    .help-list__element:nth-last-child(1) {
        justify-self: flex-start;
        margin-right: auto;
        margin-left: 5px;
    }

    .help-list__image {
        width: 50px;
        height: 50px;
        padding-bottom: 20px;
    }

    .help-list__text.h4 {
        font-family: 'Georgia', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .section-donation {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section-donation__subtitle {
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
    }

    .h4.credit-card__title {
        font-size: 15px;
    }

    .section-donation__card-link {
        margin: 0 auto 19px;
    }

    .section-donation__text-part .paragraph-s {
        max-width: 280px;
        text-align: justify;
    }

    .section-donation__image-part {
        padding-top: 42px;
    }

    .section-donation__image-part img {
        max-height: 135px;
    }

    .section-our-friends__slide-element.slide-element:nth-last-child(2) {
        display: none;
    }

    .footer__list {
        align-items: center;
        margin-bottom: 0;
    }

    .footer__block {
        gap: 0px 60px;
        padding-top: 14px;
    }

    .footer__widget-second {
        margin-left: 0;
        max-width: 294px;
    }

    .footer__widget-second .footer__h3 {
        padding-top: 6px;
    }

    .footer__widget-second .footer__list {
        margin-top: 14px;
    }

    .footer__widget-second .footer__list .footer__item:first-child {
        padding-bottom: 42px;
    }

    .footer__widget-second .footer__list .footer__item:last-child {
        margin-left: -28px;
        padding-bottom: 45px;
    }

    .footer__image img {
        height: 269px;
    }
}

/* hamburder menu */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color-primary);
    position: absolute;
    height: 2px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -10px;
}

.menu-button::after {
    content: '';
    margin-top: 10px;
}

#menu-toggle:checked+.menu-button-container .menu-button {
    transform: rotate(90deg);
}

@media (max-width: 767.98px) {

    .navigation__item a {
        font-size: 0;
    }

    .menu-button-container {
        display: flex;
        position: absolute;
        right: 53px;
        height: 58px;
        z-index: 100;
    }

    #menu-toggle~.navigation__mobile ul.navigation-ul {
        display: flex;
        position: fixed;
        opacity: 0;
        width: 0;
        height: 100vh;
        top: 0;
        margin-top: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all .3s ease-in;
    }

    #menu-toggle~.navigation__mobile ul.navigation-ul li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.navigation__mobile ul.navigation-ul {
        display: flex;
        opacity: 1;
        width: 320px;
        height: 100vh;
        padding-top: 20px;
        padding-left: 0;
        background-color: var(--color-dark-3xl);
        z-index: 10;
        transform: translateX(0);
        transition: all .3s ease-out;
    }

    #menu-toggle:checked~.navigation__mobile ul.navigation-ul .navigation__item a {
        font-size: 32px;
    }

    #menu-toggle:checked~.navigation__mobile ul.navigation-ul li {
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        height: 60px;
        padding-bottom: 32px;
    }

    #menu-toggle:checked~.navigation__mobile ul.navigation-ul li a {
        font-size: 32px;
        font-weight: 400;
        line-height: 51px;
        letter-spacing: 0px;
        text-align: left;
        color: var(--color-dark-s);
    }

    #menu-toggle:checked~.navigation__mobile ul.navigation-ul li.active a {
        color: var(--color-light-s);
    }

}