:root {
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--color-dark-l);
    margin-top: 1px;
    margin-bottom: 9px;
}

.h2 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-dark-l);
}

.h3 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.h4 {
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--color-dark-l);
}

.h5 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.paragraph-l {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.paragraph-s {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 42px;
    font-family: 'Georgia', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 100px;
    color: var(--color-dark-3xl);
}

.button-primary {
    background-color: var(--color-primary);
}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}

.button-secondary {
    padding: 13px 42px;
    background-color: transparent;
    border: 2px solid var(--color-primary-light);
}

.button-secondary:hover {
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
}

.button-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 52px;
    min-height: 52px;
    width: 52px;
    height: 52px;
    border-radius: 100px;
}

.button-arrow {
    background-color: transparent;
    border: 2px solid var(--color-primary);
}

.button-arrow:hover {
    cursor: pointer;
    background-color: var(--color-primary);
}

.button-arrow_back {
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow_next {
    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.button-circle:disabled,
.buttom-circle:hover:disabled {
    cursor: default;
    color: var(--color-dark-s);
    border-color: var(--color-dark-s);
    background-color: transparent;
}

.slides-pagination {
    display: flex;
    justify-content: space-between;
    max-width: 340px;
}

.pagination-number {
    cursor: default;
    background-color: var(--color-primary);
}

.text-align-center {
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    width: 100%;
    padding: 30px 0;
}

.header__block {
    display: flex;
    justify-content: space-between;
}

.logo-subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;
    padding-left: 4px;
    color: var(--color-dark-l);
}

.navigation ul {
    display: flex;
}

.navigation__item {
    margin-left: 36px;
}

.navigation__item a {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-dark-l);
}

.navigation__item:hover a {
    cursor: pointer;
    color: var(--color-dark-3xl);
}

.navigation__item.active a {
    display: inline-block;
    color: var(--color-dark-3xl);
    border-bottom: 3px solid var(--color-primary);
}

.navigation__item.active:hover a {
    cursor: default;
}

/* Main classes */
/* Main classes */

.section-our-friends {
    background-color: var(--color-light-l);
}

.section-our-friends__block {
    padding: 80px 0 100px;
}

.section-our-friends__title {
    max-width: 405px;
    padding-bottom: 60px;
}

.section-our-friends__title h3 {
    line-height: 129%;
    margin-top: 1px;
    margin-left: 1px;
}

.section-our-friends__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.section-our-friends__slides {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.slide-element {
    border-radius: 9px;
    background-color: var(--color-light-s);
}

.slide-element:hover {
    cursor: pointer;
    background-color: var(--color-light-xl);
}

.slide-element__image {
    padding-bottom: 25px;
}

.slide-element__title {
    padding-bottom: 30px;
}

.slide-element .button {
    display: flex;
    margin-bottom: 30px;
}

.slide-element:hover button {
    background-color: var(--color-primary-light);
}

/* Main classes */
/* Main classes */

.footer {
    background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    line-height: 0;
}

.footer__widget {
    max-width: 300px;
}

.footer__widget-second {
    margin-left: -20px;
}

.footer__h3 {
    padding-top: 17px;
    padding-bottom: 28px;
    line-height: 129%;
    color: var(--color-light-xl);
}

.footer__widget-second .footer__h3 {
    margin-left: -1px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.footer__item {
    padding-bottom: 37px;
}

.footer__link {
    position: relative;
    color: var(--color-primary);
}

.footer__link:hover {
    cursor: pointer;
    color: var(--color-primary-light);
}

.link-mail {
    display: block;
    padding-top: 11px;
    padding-left: 20px;

}

.link-mail::before {
    content: url('../../assets/icons/icon-email.svg');
    position: absolute;
    left: -40px;
    top: 6px;
}

.link-phone {
    display: block;
    padding-left: 20px;
    margin-top: 12px;
}

.link-phone::before {
    content: url('../../assets/icons/icon-phone.svg');
    position: absolute;
    left: -40px;
    top: -5px;
}

.link-location::before {
    content: url('../../assets/icons/icon-marker.svg');
    position: absolute;
    left: -42px;
    top: 6px;
}

.footer__item:nth-child(2) .link-location:before {
    top: -5px;
}

@media (max-width: 1279.98px) {
    .wrapper {
        padding: 0 30px;
    }

    .header {
        padding-top: 0;
    }

    .header__block {
        padding-top: 30px;
    }

    .section-our-friends__block {
        padding-bottom: 77px;
    }
    .section-our-friends__title {
        padding-bottom: 30px;
    }
    .section-our-friends__slides {
        justify-content: center;
        gap: 30px 40px;
        margin-bottom: 40px;
    }

    .section-our-friends__slides .section-our-friends__slide-element.slide-element:nth-last-child(1),
    .section-our-friends__slides .section-our-friends__slide-element.slide-element:nth-last-child(2) {
        display: none;
    }

    .footer__block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 60px;
        padding-top: 13px;
    }
}




